<main class="weather-wrapper">
  <section *ngIf="!error; else errorBlock">
    <div class="upper-container">
      <h2>{{ cityName }}</h2>
      <span class="material-icons md-48">{{ weatherData.icon }}</span>
    </div>
    <div class="bottom-container">
      <small>Temperature</small>
      <p [ngClass]="{'red': weatherData.temperature > 30 , 'yellow': weatherData.temperature > 25 && weatherData.temperature < 30}">{{ weatherData.temperature }}º</p>
      <div class="max-min-block">
        <div>
          <small>Max Temp</small>
          <p>{{ weatherData.tempMax}}</p>
        </div>
        <div>
          <small>Min Temp</small>
          <p>{{ weatherData.tempMin}}</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <ng-template #errorBlock>
      <p>At this moment We don't have weather information for this city.</p>
    </ng-template>
  </section>
</main>
