@import "../../../assets/general.scss";

.selector-wrapper {
  margin: 30px auto;
  text-align: center;
  width: 100%;
  max-width: 200px;

  @media only screen and (min-width: 768px) {
    max-width: 300px;
  }

  select {
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
    font-size: 1.2rem;
    @media only screen and (min-width: 768px) {
      font-size: 1rem;
    }
  }
}
